---
---

@import "{{ site.theme }}";

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

footer {
    width: 1920px;
    float: left;
    /* position: fixed; */
    bottom: 50px;
    /* -webkit-font-smoothing: subpixel-antialiased; */
}
section {
    width: 1280px;
    float: right;
    padding-bottom: 50px;
}
